@import "tailwindcss";

@font-face {
    font-family: "minecraft";
    src: url(/assets/fonts/minecraft.ttf);
    font-weight: 100-900;
}
@font-face {
    font-family: "minecraft-ten";
    src: url(/assets/fonts/minecraft-ten.ttf);
    font-weight: 100-900;
}

@theme {
    --font-minecraft: "minecraft";
    --font-minecraft-ten: "minecraft-ten";
    --color-green-main: #6CA243;
    --color-green-main-hover: #73BE3A;
}

body {
    @apply font-minecraft bg-[#161616] bg-[url(/assets/img/bg-body.png)] min-h-screen overflow-x-hidden;
}

.nav-btn {
    @apply flex flex-col gap-1.5 py-2 justify-end items-center backdrop-blur-none max-w-[108px] min-h-[60px] w-full bg-black/0 ease-in-out duration-300 text-white text-xs rounded-[10px] hover:opacity-75 cursor-pointer;
}

.nav-btn.active {
    @apply bg-[#313131] backdrop-blur-2xl;
}

.main-btn {
    @apply bg-green-main hover:bg-green-main-hover ease-in-out duration-300 cursor-pointer;
}

.btn-select {
    @apply bg-[#272727] hover:bg-[#2d2d2d] ease-in-out duration-300 cursor-pointer text-white;
}

.btn-select.active {
    @apply bg-green-main hover:bg-green-main-hover;
}

/* Page animations are handled by GSAP (see pages/*.vue). */